@import "../global.css";

.g-signin-button {
    height: 50px;
    width: 200px;
    cursor: pointer;
    border: none;
    background: url('../../images/google_normal.png') no-repeat;
  }
  
.g-signin-button:hover {
  background: url('../../images/google_focus.png') no-repeat;
}

#login-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  flex-direction: column;
}

#user-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#input-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section h2 {
    font-size: 23px;
    margin: 0px;
}

#icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 15px;
}

select {
  margin: 5px 0px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  font-size: 17px;
}