<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/components/composer.css">
    <title>A Tribute to Renowned Composers</title>
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href="bach.html">Bach</a>
            <a href="mozart.html">Mozart</a>
            <a href="beethoven.html">Beethoven</a>
            <a href="haydn.html">Haydn</a>
            <a href="chopin.html">Chopin</a>
            <a href="tchaikovsky.html">Tchaikovsky</a>
            <a href="user.html">User</a>
        </nav>
    </header>
    <main>
        <h1>A Tribute to Renowned Composers</h1>
        <aside>
            <h2>Ludwig van Beethoven - <time>1770</time>-<time>1827</time></h2>
            <figure>
                <img src="../static/images/Beethoven.jpg" alt="Beethoven">
                <figcaption>Fig 1. Ludwig van Beethoven</figcaption>
            </figure>
        </aside>
        <section>
            <h2>Introduction</h2>
            <article>
                <h3>Biography</h3>
                <p>A German composer and pianist, who is widely considered one of the greatest musical geniuses in
                    history. Born in Bonn, Beethoven displayed his musical talents at an early age and was taught by his
                    father as well as other local musicians. As a young man, he moved to Vienna, where he gained a
                    reputation as a virtuoso pianist and began to compose his own works. Despite losing his hearing in
                    his late twenties, Beethoven continued to compose masterpieces, including symphonies, chamber music,
                    and piano sonatas, profoundly influencing the transition from the Classical to the Romantic era in
                    music. He passed away in Vienna in 1827, leaving behind a vast body of work that continues to be
                    revered worldwide.</p>
            </article>
            <article>
                <h3>Creations</h3>
                <ul>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Symphony_No._5_(Beethoven)'>Symphony No. 5 in C
                                minor, Op. 67</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Symphony_No._9_(Beethoven)'>Symphony No. 9 in D
                                minor, Op. 125</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Piano_Sonata_No._14_(Beethoven)'>Piano Sonata No. 14
                                in C-sharp minor, Op. 27, No. 2</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Fidelio'>Fidelio</a>
                        </h3>
                    </li>
                </ul>
            </article>
            <article>
                <h3>Musical styles</h3>
                <p>
                    His musical style is often viewed as a transitional figure between the Classical and Romantic eras.
                    His early works show a mastery and expansion of the formal structures he inherited from his
                    predecessors, like Mozart and Haydn. As he developed his own style, Beethoven began to incorporate
                    more dramatic, personal, and emotional elements into his music, often using bold, innovative musical
                    structures. His later works, composed during his period of deafness, are notable for their
                    intellectual depth, formal innovation, and intense, highly personal expression, characteristics that
                    had a major influence on the subsequent development of Romantic music.</p>
            </article>
            <article>
                <h3>My favorite composition - Moonlight sonata</h3>
                <div>
                    <audio controls>
                        <source src="../static/audio/Beethoven.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <p>
            &copy;2023. Dingnan Hsu. Open Source. Boston University
        </p>
    </footer>
</body>

</html>