<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/components/composer.css">
    <title>A Tribute to Renowned Composers</title>
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href="bach.html">Bach</a>
            <a href="mozart.html">Mozart</a>
            <a href="beethoven.html">Beethoven</a>
            <a href="haydn.html">Haydn</a>
            <a href="chopin.html">Chopin</a>
            <a href="tchaikovsky.html">Tchaikovsky</a>
            <a href="user.html">User</a>
        </nav>
    </header>
    <main>
        <h1>A Tribute to Renowned Composers</h1>
        <aside>
            <h2>Ludwig van Beethoven - <time>1770</time>-<time>1827</time></h2>
            <figure>
                <img src="../static/images/Beethoven.jpg" alt="Beethoven">
                <figcaption>Fig 1. Ludwig van Beethoven</figcaption>
            </figure>
        </aside>
        <section>
            <h2>Introduction</h2>
            <article>
                <h3>Biography</h3>
                <p>A German composer and pianist, who is widely considered one of the greatest musical geniuses in
                    history. Born in Bonn, Beethoven displayed his musical talents at an early age and was taught by his
                    father as well as other local musicians. As a young man, he moved to Vienna, where he gained a
                    reputation as a virtuoso pianist and began to compose his own works. Despite losing his hearing in
                    his late twenties, Beethoven continued to compose masterpieces, including symphonies, chamber music,
                    and piano sonatas, profoundly influencing the transition from the Classical to the Romantic era in
                    music. He passed away in Vienna in 1827, leaving behind a vast body of work that continues to be
                    revered worldwide.</p>
            </article>
            <article>
                <h3>Creations</h3>
                <ul>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Symphony_No._5_(Beethoven)'>Symphony No. 5 in C
                                minor, Op. 67</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Symphony_No._9_(Beethoven)'>Symphony No. 9 in D
                                minor, Op. 125</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Piano_Sonata_No._14_(Beethoven)'>Piano Sonata No. 14
                                in C-sharp minor, Op. 27, No. 2</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Fidelio'>Fidelio</a>
                        </h3>
                    </li>
                </ul>
            </article>
            <article>
                <h3>Musical styles</h3>
                <p>
                    His musical style is often viewed as a transitional figure between the Classical and Romantic eras.
                    His early works show a mastery and expansion of the formal structures he inherited from his
                    predecessors, like Mozart and Haydn. As he developed his own style, Beethoven began to incorporate
                    more dramatic, personal, and emotional elements into his music, often using bold, innovative musical
                    structures. His later works, composed during his period of deafness, are notable for their
                    intellectual depth, formal innovation, and intense, highly personal expression, characteristics that
                    had a major influence on the subsequent development of Romantic music.</p>
            </article>
            <article>
                <h3>My favorite composition - Moonlight sonata</h3>
                <div>
                    <audio controls>
                        <source src="../static/audio/Beethoven.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </article>
            <article>
                <h3>Trivia or Fun Facts</h3>
                <p>
                    Ludwig van Beethoven, known for his fiery temperament, is often pictured as a tormented genius.
                    Interestingly, he loved nature and often took long walks in the countryside. Beethoven had a habit
                    of pouring pitchers of water over his hands while he was composing, leading to many flooded
                    apartments. Despite his gruff exterior, he was deeply moved by the ideals of the Enlightenment, such
                    as freedom, equality, and brotherhood. Most famously, Beethoven began losing his hearing in his late
                    twenties and was almost completely deaf for the last decade of his life, yet he continued to compose
                    some of his greatest works during this period.</p>
            </article>

            <article>
                <h3>Influences and Legacy</h3>
                <p>
                    Beethoven was profoundly influenced by Mozart and Haydn, yet he dramatically expanded the musical
                    forms he inherited from them, paving the way for the Romantic era. His innovation in harmonic
                    language, form, and the development of musical motifs is significant, as seen in his symphonies and
                    string quartets. Beethoven's music, often characterized by dramatic contrasts and personal
                    expression, has left a lasting impact on subsequent generations of composers. His Symphony No. 9,
                    including the famous "Ode to Joy," is regarded as one of the supreme achievements in the history of
                    music, symbolizing human fraternity and universal brotherhood.</p>
                <figure>
                    <img src="../static/images/Beethoven_meme.png" alt="Beethoven_meme">
                    <figcaption>Fig 2. I can't hear you</figcaption>
                </figure>
            </article>
        </section>
    </main>

    <footer>
        <p>
            &copy;2023. Dingnan Hsu. Open Source. Boston University
        </p>
    </footer>
</body>

</html>