<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/components/composer.css">
    <title>A Tribute to Renowned Composers</title>
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href="bach.html">Bach</a>
            <a href="mozart.html">Mozart</a>
            <a href="beethoven.html">Beethoven</a>
            <a href="haydn.html">Haydn</a>
            <a href="chopin.html">Chopin</a>
            <a href="tchaikovsky.html">Tchaikovsky</a>
            <a href="user.html">User</a>
        </nav>
    </header>
    <main>
        <h1>A Tribute to Renowned Composers</h1>
        <aside>
            <h2>Pyotr Ilyich Tchaikovsky - <time>1840</time>-<time>1893</time></h2>
            <figure>
                <img src="../static/images/Tchaikovsky.jpg" alt="Tchaikovsky">
                <figcaption>Fig 1. Pyotr Ilyich Tchaikovsky</figcaption>
            </figure>
        </aside>
        <section>
            <h2>Introduction</h2>
            <article>
                <h3>Biography</h3>
                <p>A Russian composer of the Romantic era, celebrated for his profound impact on classical music. Born
                    in Votkinsk, Russia, Tchaikovsky initially studied law before dedicating himself to music at the
                    Saint Petersburg Conservatory. His works, spanning symphonies, concertos, operas, ballets, and
                    chamber music, are characterized by beautiful melodies, rich orchestration, and deep emotionality.
                    Notable compositions include the ballets "Swan Lake" and "The Nutcracker", the "1812 Overture", and
                    the "Symphony No. 5". Tchaikovsky passed away in Saint Petersburg, but his music continues to be
                    performed and cherished around the world.</p>
            </article>
            <article>
                <h3>Creations</h3>
                <ul>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Swan_Lake'>Swan Lake</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/The_Nutcracker'>The Nutcracker</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Symphony_No._5_(Tchaikovsky)'>Symphony No. 5 in E
                                minor, Op. 64</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Piano_Concerto_No._1_(Tchaikovsky)'>Piano Concerto
                                No. 1 in B-flat minor, Op. 23</a>
                        </h3>
                    </li>
                </ul>
            </article>
            <article>
                <h3>Musical styles</h3>
                <p>
                    He is known for combining Russian traditions with Western compositional practices. His music is
                    characterized by deeply emotive melodies, a wide range of moods, rich and colorful orchestration,
                    and a mastery of form. Tchaikovsky often infused his music with elements of Russian folk music,
                    lending a distinct nationalistic flavor to many of his compositions. His works are celebrated for
                    their expressiveness and their ability to evoke powerful emotions.</p>
            </article>
            <article>
                <h3>My favorite composition - Dance of the sugar plum fairy</h3>
                <div>
                    <audio controls>
                        <source src="../static/audio/Tchaikovsky.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </article>
            <article>
                <h3>Trivia or Fun Facts</h3>
                <p>
                    Pyotr Ilyich Tchaikovsky was one of the first composers to support himself solely through
                    composition and related activities without relying on a patron. He was emotionally expressive and
                    used music as a way to navigate his turbulent emotions. Tchaikovsky was a devoted correspondent and
                    wrote over 5,000 letters in his lifetime. His fear of his own conducting was so severe that he
                    believed his head would fall off while conducting, leading him to hold his chin during performances.
                </p>
            </article>

            <article>
                <h3>Influences and Legacy</h3>
                <p>
                    Tchaikovsky is a central figure in Russian music and one of the most popular composers in the
                    classical repertoire. He blended Western European compositional techniques with Russian folk music,
                    creating richly melodic and passionate music. His symphonies, ballets, and operas—like "Swan Lake,"
                    "The Nutcracker," and "Eugene Onegin"—are performed widely around the globe. He influenced many
                    Russian composers who came after him, like Rachmaninoff, and his melodious and expressive music
                    continues to touch audiences worldwide.</p>
                <figure>
                    <img src="../static/images/Tchaikovsky_meme.jpg" alt="Tchaikovsky_meme">
                    <figcaption>Fig 2. Cannons</figcaption>
                </figure>
            </article>
        </section>
    </main>

    <footer>
        <p>
            &copy;2023. Dingnan Hsu. Open Source. Boston University
        </p>
    </footer>
</body>

</html>