<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/components/composer.css">
    <title>A Tribute to Renowned Composers</title>
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href="bach.html">Bach</a>
            <a href="mozart.html">Mozart</a>
            <a href="beethoven.html">Beethoven</a>
            <a href="haydn.html">Haydn</a>
            <a href="chopin.html">Chopin</a>
            <a href="tchaikovsky.html">Tchaikovsky</a>
        </nav>
    </header>
    <main>
        <h1>A Tribute to Renowned Composers</h1>
        <aside>
            <h2>Frédéric Chopin - <time>1810</time>-<time>1849</time></h2>
            <figure>
                <img src="../static/images/Chopin.jpg" alt="Chopin">
                <figcaption>Fig 1. Frédéric Chopin</figcaption>
            </figure>
        </aside>
        <section>
            <h2>Introduction</h2>
            <article>
                <h3>Biography</h3>
                <p>A Polish composer and virtuoso pianist of the Romantic period who wrote primarily for the solo piano.
                    Born near Warsaw, he showed his musical talents at an early age and was soon composing and
                    performing for the Polish aristocracy. In 1830, Chopin left Poland due to political unrest, and he
                    eventually settled in Paris, where he composed, gave private piano lessons, and performed
                    infrequently due to his fragile health. His innovative compositions, including nocturnes, mazurkas,
                    waltzes, and polonaises, are known for their poetic expressiveness, rich harmonies, and technical
                    demands. Chopin's health declined rapidly, and he died at the age of 39, but his music continues to
                    be widely performed and beloved around the world.</p>
            </article>
            <article>
                <h3>Creations</h3>
                <ul>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Nocturne'>Nocturnes</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Ballades_(Chopin)'>Ballades</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Piano_Concerto_No._1_(Chopin)'>Piano Concertos</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Mazurkas_(Chopin)'>Mazurkas and Polonaises</a>
                        </h3>
                    </li>
                </ul>
            </article>
            <article>
                <h3>Musical styles</h3>
                <p>
                    He is known for his lyrical, expressive melodies, innovative harmonies, and demanding, intricate
                    piano writing. His music is often highly emotional, reflecting the deeply personal, introspective
                    nature of the Romantic period. Chopin's music, almost entirely written for solo piano, expanded the
                    range of the instrument's expressive capabilities and revolutionized piano composition. His use of
                    traditional Polish dance forms like the mazurka and polonaise also showcased his strong connection
                    to his homeland.</p>
            </article>
            <article>
                <h3>My favorite composition - Nocturne in C sharp minor</h3>
                <div>
                    <audio controls>
                        <source src="../static/audio/Chopin.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <p>
            &copy;2023. Dingnan Hsu. Open Source. Boston University
        </p>
    </footer>
</body>

</html>