<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/components/composer.css">
    <title>A Tribute to Renowned Composers</title>
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href="bach.html">Bach</a>
            <a href="mozart.html">Mozart</a>
            <a href="beethoven.html">Beethoven</a>
            <a href="haydn.html">Haydn</a>
            <a href="chopin.html">Chopin</a>
            <a href="tchaikovsky.html">Tchaikovsky</a>
        </nav>
    </header>
    <main>
        <h1>A Tribute to Renowned Composers</h1>
        <aside>
            <h2>Ludwig van Haydn - <time>1732</time>-<time>1809</time></h2>
            <figure>
                <img src="../static/images/Haydn.jpg" alt="Haydn">
                <figcaption>Fig 1. Ludwig van Haydn</figcaption>
            </figure>
        </aside>
        <section>
            <h2>Introduction</h2>
            <article>
                <h3>Biography</h3>
                <p>An Austrian composer of the Classical period, often referred to as the "Father of the Symphony" and
                    "Father of the String Quartet" due to his pivotal role in the development of these forms. Born in a
                    humble family, Haydn displayed musical talent early and was accepted into the choir of St. Stephen's
                    Cathedral in Vienna, where he gained his musical training. He spent much of his career as a court
                    musician for the wealthy Esterházy family, which provided him the opportunity to experiment and
                    refine his compositions. Haydn's works, including symphonies, string quartets, and piano sonatas,
                    are known for their development of the classical style, innovative form, and the use of folk-like
                    themes. He also mentored and tutored many composers, including Ludwig van Beethoven, further
                    cementing his legacy.</p>
            </article>
            <article>
                <h3>Creations</h3>
                <ul>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Symphony_No._104_(Haydn)'>The "London"
                                Symphonies</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/The_Creation_(Haydn)'>The Creation</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/String_Quartets,_Op._33_(Haydn)'>String Quartets, Op.
                                33</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Symphony_No._94_(Haydn)'>"Surprise" Symphony (No. 94
                                in G Major)</a>
                        </h3>
                    </li>
                </ul>
            </article>
            <article>
                <h3>Musical styles</h3>
                <p>
                    He was a central figure in the development of the Classical style, characterized by clarity,
                    balance, and transparency. His works are known for their humor, use of folk-like melodies,
                    exploration of new forms, and development of the sonata form. Haydn's innovative approach to musical
                    structure and his expansion of the size and scope of instrumental genres like the symphony and
                    string quartet had a significant influence on composers who followed, particularly Mozart and
                    Beethoven.</p>
            </article>
            <article>
                <h3>My favorite composition - String Quartet in G major, Op. 77 No. 1: II. Adagio</h3>
                <div>
                    <audio controls>
                        <source src="../static/audio/Haydn.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <p>
            &copy;2023. Dingnan Hsu. Open Source. Boston University
        </p>
    </footer>
</body>

</html>