<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/components/composer.css">
    <title>A Tribute to Renowned Composers</title>
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href="bach.html">Bach</a>
            <a href="mozart.html">Mozart</a>
            <a href="beethoven.html">Beethoven</a>
            <a href="haydn.html">Haydn</a>
            <a href="chopin.html">Chopin</a>
            <a href="tchaikovsky.html">Tchaikovsky</a>
        </nav>
    </header>
    <main>
        <h1>A Tribute to Renowned Composers</h1>
        <aside>
            <h2>Wolfgang Amadeus Mozart - <time>1756</time>-<time>1791</time></h2>
            <figure>
                <img src="../static/images/Mozart.jpg" alt="Mozart">
                <figcaption>Fig 1. Wolfgang Amadeus Mozart</figcaption>
            </figure>
        </aside>
        <section>
            <h2>Introduction</h2>
            <article>
                <h3>Biography</h3>
                <p>An Austrian composer of the Classical period, known for his profound influence on Western music. Born
                    a child prodigy, he started composing at the tender age of five and performed before European
                    royalty. Throughout his short life, Mozart composed more than 800 works, many of which are
                    considered pinnacles of symphonic, chamber, operatic, and choral music. His compositions, including
                    famous works like Symphony No. 40, "The Marriage of Figaro," and "The Magic Flute," are celebrated
                    for their melodic beauty, formal elegance, and emotional depth. Mozart died at the young age of 35,
                    leaving a legacy that has profoundly shaped classical music.</p>
            </article>
            <article>
                <h3>Creations</h3>
                <ul>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Symphony_No._40_(Mozart)'>Symphony No. 40 in G minor,
                                K. 550</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/The_Marriage_of_Figaro'>The Marriage of Figaro</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/The_Magic_Flute'>The Magic Flute</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a href='https://en.wikipedia.org/wiki/Requiem_(Mozart)'>Requiem</a>
                        </h3>
                    </li>
                </ul>
            </article>
            <article>
                <h3>Musical styles</h3>
                <p>
                    As for Mozart's musical style, his compositions encapsulate the principles of the Classical era with
                    their balance, clarity, and transparency. Mozart was known for his ability to blend different
                    musical forms seamlessly, and his work often reflects a mastery of counterpoint, melody, and
                    orchestral color. Furthermore, his music is celebrated for its emotional depth and richness, moving
                    beyond the formal constraints of the Classical style to hint at the passionate intensity of the
                    forthcoming Romantic era.</p>
            </article>
            <article>
                <h3>My favorite composition - Symphony No. 40 in G minor, K. 550</h3>
                <div>
                    <audio controls>
                        <source src="../static/audio/Mozart.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <p>
            &copy;2023. Dingnan Hsu. Open Source. Boston University
        </p>
    </footer>
</body>

</html>